.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &__title{
    &--link{
      color: rgb(137, 250, 250);
      text-decoration: none;
    }
  }
  &__checkout{
    &--link{
      color: rgb(137, 250, 250);
      text-decoration: none;
    }
  }
}
